* {
	box-sizing: border-box;
  margin: 0;
}
p {
  padding: 20px;
}
main {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  column-gap: 20px;
}
.pricingtable {
  background-color: lightgrey;
  border-radius: 10px;
  text-align: center;
}
.pricingtable ul {
  text-align: left;
  margin: 15px 60px;
}

 .priceholder {
   background-color: red;
   color: white;
 }
 button {
   display: inline-block;
  border: 1px solid white;
  border-radius: 30px;
  padding: 6px 40px;
  background-color: darkblue;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 1rem;
  font-weight: bold;
 }
