* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  display: block;
  margin: 0.67em 0 0.67em 0;
  font-size: 2em;
  font-weight: bold;
}

.site-content {
  flex-grow: 1;
  display: block;
  margin: 1em 0 1em 0;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.footer {
  padding: 20px;
  margin: auto auto 0 auto;
  width: 100%;
  background-color: pink;
  font-size: 30px;
}